<!-- The toolbar in the top of the page.
We decided to include all elements that are not the ToolBox, or Drawing Canvas -->
<div ng-controller="ToolBarController">
    <span ng-click='openAbout()' >help/about</span>
    <span ng-click='explainWorkflow()'>explain workflow</span>
    <span ng-click='toggleToolbox()' >show/hide toolbox</span>
    <span ng-click='clearDiagram()'>clear diagram</span>
    <span ng-click='openCite()' >cite/research</span>
    <span ng-click='showTour()' >show tour</span>
    <div title="Save this session in the browser's memory" ng-click='save()'></div>
    <div title="Load your local XMI file"></div><input style="visibility: hidden" type="file" id="files" name="files" accept=".xmi, .xml"/>
    <div title="Import XMI" ng-click="importXMI()"></div>
    <div title="Export XMI" ng-click="exportXMI()"></div>
    <div title="LOG" ng-click="showLog()"></div>
    <div title="Inspect" ng-click="inspect()"></div>
    <div title="Swap task" ng-click="swapTask()"></div>
    <div title="Question" ng-click="showFeedbackDialog()"></div>
    <div title="submit" ng-click="submit()"></div>
    <div title="Send bug" ng-click="sendBug()"></div>
    <div title="Key hints" ng-click="toggleHints()"></div>
</div>
