<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebUML</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="ui-style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
</head>

<body>
    <div style="position: relative" ng-controller="AppController">
        <workflow-directive></workflow-directive>
        <about-directive></about-directive>
        <div ng-show="cite" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="dialog-new" aria-labelledby="ui-id-18" style="position: absolute; height: auto; width: 40%; top: 177px; left: 322px; display: block;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span id="ui-id-5">Citation and research papers</span>
                <button class="close" ng-click="showCite()">Close
                </button>
            </div>
            <div id="citedialog" class="ui-dialog-content ui-widget-content" style="display: block; background: white; width: auto; min-height: 0px; max-height: none; height: 557px;">
                <iframe style="border: 0px; " src="cite.html" width="100%" height="100%" name="iframe_a"></iframe>
            </div>
        </div>
        <feedback-directive></feedback-directive>
        <div ng-show="tour" class="tooltip-menu">This is the menu-bar.</div>
        <div ng-show="tour" class="tooltip-canvas">This is the modeling area. Here you can create your models.</div>
        <div ng-show="tour" class="tooltip-toolbox">This is the toolbox. You can drag UML elements to the modeling area.</div>
        <div id="top_menu" class="do_not_print">
            <span id="about" ng-click="showAbout()">help/about</span>
            <span id="workflow" ng-click="showWorkflow()">explain workflow</span>
            <span id="close-toolbox" ng-click="showToolbox()">show/hide toolbox</span>
            <span id="clear" ng-confirm-click="Sure you want to clear?" confirmed-click="clear()">clear diagram</span>
            <span id="cite" ng-click="showCite()">cite/research</span>
            <span id="show" ng-click="showTour()">show tour</span>
            <div id="save-all" title="Save this session in the browser's memory" ng-controller="XMLController" ng-click="exportXML()"></div>
            <div id="load-xmi" title="Load your local XMI file" ng-controller="XMLController"></div>
            <input style="visibility: hidden;" type="file" id="files" name="files" accept=".xmi, .xml" />
            <button ng-controller="XMLController" ng-click="getObserverLog()" class="menu_button">LOG</button>
            <button ng-controller="XMLController" ng-click="exportXML()" class="menu_button">Export to XMI</button>
            <button ng-controller="XMLController" ng-click="XMLImporter()" class="menu_button">Import XMI</button>
        </div>
        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <h1>
                            <span style="color:red">Please use the latest Google Chrome browser only!</span>
                            <br>
                            WebUML - an Online UML Editor © Dave Stikkolorum 2014-2016
                        </h1>
                    </td>
                    <td>
                        <div id="helpblock" style="display: none;">
                        </div>
                        <img src="images/doc.png" alt="Show task" onclick="swapTask()" id="task-button" style="border: 2px solid black; height: 50px; cursor: pointer;">
                        <img src="images/note.png" alt="Send feedback" id="question-button" ng-click="showFeedback()" style="border: 2px solid black; height: 50px; cursor: pointer">
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-controller="jsPlumbWrapperController">
            <div ng-show="toolbox" id="toolbox">
                <h1 class="title">UML Elements</h1>
                <hr class="seperator">
                <div plumb-menu-item ng-controller="ClassController" class="toolboxClass">
                    <class-directive></class-directive>
                </div>
                <ul ng-controller="AttributeController" class="toolboxAttribute">
                    <li dnd-draggable="attributeTemplate" draggable="true" dnd-type="attributeObject" class="attribute ui-sortable-handle">{{attributeTemplate.name}}</li>
                </ul>
                <ul ng-controller="OperationController" class="toolboxOperation">
                    <li dnd-draggable="operationTemplate" draggable="true" dnd-type="operationObject" class="operation ui-sortable-handle">{{operationTemplate.name}}</li>
                </ul>
                <div plumb-menu-item ng-controller="PackageController" class="toolboxPackage">
                    <package-directive></package-directive>
                </div>
                <div id="infobox">
                    <h1></h1>
                    <p></p>
                    <div class="message" ng-click="printClasses()">
                        Connect elements by dragging their right corner to another element. You can find out more by clicking on 'keyhints'
                        <div class="speechBubble">
                        </div>
                        <div class="speechBubblePoint">
                        </div>
                    </div>
                    <img id="avatar" width="100px" src="../images/DaveAvatar.png" alt="DaveAvatar">
                </div>
            </div>
            <div diagram-holder id="diagram-canvas" style="position: relative;" ng-controller="canvasController">
                <key-hint></key-hint>
                <div>
                    <canvas-classes-directive></canvas-classes-directive>
                    <canvas-packages-directive></canvas-packages-directive>
                </div>
            </div>
        </div>
    </div>
    <div id="xmi-input-dialog" title="Import XMI" hidden="hidden">
        <p>Please enter your xml code</p>
        <textarea id="xmi-input"></textarea>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="lib/angular-drag-and-drop-lists.min.js"></script>
    <script src="lib/jsPlumb-2.2.3-min.js"></script>
    <script src="app.js"></script>
    <script src="lib/FileSaver.js"></script>
    <script src="lib/vkbeautify.js"></script>
    <script src="attribute/attributeObject.js"></script>
    <script src="operation/operationObject.js"></script>
    <script src="class/class.js"></script>
    <script src="services/idGenerator.js"></script>
    <script src="class/classObject.js"></script>
    <script src="package/packageObject.js"></script>
    <script src="package/package.js"></script>
    <script src="services/diagramService.js"></script>
    <script src="services/observerService.js"></script>
    <script src="attribute/attribute.js"></script>
    <script src="operation/operation.js"></script>
    <script src="attribute/attributeObject.js"></script>
    <script src="operation/operationObject.js"></script>
    <script src="canvas/canvasController.js"></script>
    <script src="wrapper/jsPlumbWrapperController.js"></script>
    <script src="services/observerService.js"></script>
    <script src="XMLController.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script>
    //-------- load local file
    function handleFileSelect(evt) {
        var files = evt.target.files[0]; // FileList object
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function(theFile) {
            return function(e) {
                angular.element('#load-xmi').scope().importXML(e.target.result);
                angular.element('#load-xmi').scope().$apply();
                //XMLImporter.prototype.importXML(e.target.result);
            };
        })(files);
        // Read in the image file as a data URL.
        reader.readAsText(files);
    }
    document.getElementById('files').addEventListener('change', handleFileSelect, false);
    angular.element('#load-xmi').click(function() {
        angular.element('#files').click();
    });
    </script>
</body>

</html>
