<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebUML</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css"> -->
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="ui-style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div style="position: relative" ng-controller="AppController">
        <div ng-show="workflow" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="dialog-new" aria-labelledby="ui-id-18" style="position: absolute; height: auto; width: 40%; top: 177px; left: 322px; display: block;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span id="ui-id-18">Online UML Editor</span>
                <button class="close" ng-click="showWorkflow()">Close
                </button>
            </div>
            <div id="dialog-new" style="display: block; width: auto; min-height: 82px; max-height: none; height: auto;" class="ui-dialog-content ui-widget-content">
                <p>Hi, welcome to the online UML editor<img width="80px" src="images/DaveAvatar.png" style="float: right;"></p>
                <hr>
                <p>June 2015 - replay function trial</p>
                <p>2015/3/25 - possibility to submit a session and download it as a zip file. <br> - added submission of typical questions (tool unrelated) that arrise during modeling
                <br> - added bug filing button</p>
                <p>Older than 2015/3/25 - New workflow: start diagramming - save your work with the save button on the left menu - export you xmi and log on the right menu</p>
                <p>You can continue working on your diagram if you open the web page again by <strong>confirming</strong>the continue question</p>
                <p>You can start a new diagram session by opening the web page again by <strong>canceling</strong> the continue question</p>
                <p>don't ignore the popup messages, read them carefuly</p>
                <p class="warning">Known Bugs : some drawing of associations seems to go wrong, still after moving the classes / packages, they restore</p>
            </div>
        </div>
        <div ng-show="about" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="dialog-new" aria-labelledby="ui-id-18" style="position: absolute; height: auto; width: 40%; top: 177px; left: 322px; display: block;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span id="ui-id-2">About UML WebEditor</span>
                <button class="close" ng-click="showAbout()">Close
                </button>
            </div>
            <div id="dialog-new" style="display: block; width: auto; min-height: 82px; max-height: none; height: auto;" class="ui-dialog-content ui-widget-content">
                <p autofocus="">
                </p>
                <ul>
                    <li>drag elements to diagram-draw area</li>
                    <li>assiociation are drawn from the upper right corner of a class</li>
                </ul>
                <p>
                </p>
                <p>This WebEditor was developed for research at Leiden University, Leiden, The Netherlands.<br>
                    <br> © Dave Stikkolorum 2014<br>
                    <a target="_blank" href="http://www.liacs.nl/~drstikko">http://www.liacs.nl/~drstikko</a>
                </p>
            </div>
        </div>
        <div ng-show="cite" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="dialog-new" aria-labelledby="ui-id-18" style="position: absolute; height: auto; width: 40%; top: 177px; left: 322px; display: block;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span id="ui-id-5">Citation and research papers</span>
                <button class="close" ng-click="showCite()">Close
                </button>
            </div>
            <div id="citedialog" class="ui-dialog-content ui-widget-content" style="display: block; background: white; width: auto; min-height: 0px; max-height: none; height: 557px;">
                <iframe style="border: 0px; " src="cite.html" width="100%" height="100%"></iframe>
            </div>
        </div>
        <div ng-show="tour" class="tooltip-menu">This is the menu-bar.</div>
        <div ng-show="tour" class="tooltip-canvas">This is the modeling area. Here you can create your models.</div>
        <div ng-show="tour" class="tooltip-toolbox">This is the toolbox. You can drag UML elements to the modeling area.</div>

        <div id="top_menu" class="do_not_print">
            <span id="about" ng-click="showAbout()">help/about</span>
            <span id="workflow" ng-click="showWorkflow()">explain workflow</span>
            <span id="close-toolbox" ng-click="showToolbox()">show/hide toolbox</span>
            <span id="clear" ng-click="clear()">clear diagram</span>

            <span id="cite" ng-click="showCite()">cite/research</span>
            <span id="show" ng-click="showTour()">show tour</span>
            <div id="save-all" title="Save this session in the browser's memory" onclick="xmlexp.exportXML();cvsexp.exportCSV();alert(&quot;session saved&quot;);$(this).css(&quot;background&quot;,&quot;cover url(floppy-red.png)&quot;);"></div>
            <div id="load-xmi" title="Load your local XMI file"></div>
            <button class="menu_button">LOG</button>

            <button ng-controller="XMLController"  ng-click="exportXML()" class="menu_button">Export to XMI</button>
            <button class="menu_button">Import XMI</button>
        </div>
        <table>
            <tbody>
                <tr>

                    <td></td>
                    <td>
                        <h1>
                            <span style="color:red">Please use the latest Google Chrome browser only!</span>
                            <br>
                            WebUML - an Online UML Editor © Dave Stikkolorum 2014-2016
                        </h1>
                    </td>
                    <td>
                        <div id="helpblock" style="display: none;">
              </div>
              <img src="images/doc.png" onclick="swapTask()" id="task-button" style="border: 2px solid black; height: 50px; cursor: hand">
              <img src="images/note.png" id="question-button" onclick="showfeedbackdialog()" style="border: 2px solid black; height: 50px; cursor: hand">
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-controller="jsPlumbWrapperController">
            <div ng-show="toolbox" id="toolbox">
                <h1 class="title">UML Elements</h1>
                <hr class="seperator">
                <div plumb-menu-item ng-controller="ClassController" class="toolboxClass">
                    <class-directive></class-directive>
                </div>
                <div plumb-menu-item ng-controller="AttributeController" class="toolboxAttribute">
                    <attribute-directive></attribute-directive>
                </div>
                <div plumb-menu-item ng-controller="OperationController" class="toolboxOperation">
                    <operation-directive></operation-directive>
                </div>
                <div plumb-menu-item ng-controller="PackageController" class="toolboxPackage">
                    <package-directive></package-directive>
                </div>
                <div id="infobox">
                    <h1></h1>
                    <p></p>
                    <div class="message" ng-click="printClasses()">
                        Connect elements by dragging their right corner to another element. You can find out more by clicking on 'keyhints'
                        <div class="speechBubble">
                        </div>
                        <div class="speechBubblePoint">
                        </div>
                    </div>
                    <img id="avatar" width="100px" src="../images/DaveAvatar.png">
                </div>
            </div>
              <div diagram-holder id="diagram-canvas" ng-controller="canvasController">
                <div>
                      <canvas-classes-directive></canvas-classes-directive>
                      <canvas-packages-directive></canvas-packages-directive>

                </div>
              </div>


          </div>
    </div>

    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="lib/jsPlumb-2.2.3-min.js"></script>
    <script src="class/class.js"></script>
    <script src="XMLController.js"></script>
    <script src="services/idGenerator.js"></script>
    <script src="class/classObject.js"></script>
    <script src="package/packageObject.js"></script>
    <script src="package/package.js"></script>
    <script src="services/diagramService.js"></script>
    <script src="attribute/attribute.js"></script>
    <script src="operation/operation.js"></script>
    <script src="canvas/canvasController.js"></script>
    <script src="wrapper/jsPlumbWrapperController.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>

</html>
