@media print {
    div.do-not-print {display: none;}
}

.connectionLabel{
    font-size: 1.1em;
    margin-top: -0.6em;
}

#feedbackdialog, #submitdialog, #bugdialog{
    background: lightblue;
}


.ui-state-active:hover{
    background: yellow;
}

#top_menu{
    border: 1px;
    height: 21px;
    padding: 4px;
    background: #F0F0E3;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
}

#replay{
    width: 206px;
}

#load-xmi{
    width: 20px;
    height: 20px;
    float: left;
    background: url(folder.png);
    background-size: cover;
    cursor: pointer;
}

.button{
    width: 125px;
}

#instrBtn, #instrClsBtn{
    float: right;
}

.menu_button{
    width: 125px;
    float: right;
}

#save-all{
    width: 20px;
    height: 20px;
    float: left;
    background: url(floppy-black.png);
    background-size: cover;
    cursor: pointer;
}

#save-all:hover{
    background: url(floppy-green.png);
    width: 20px;
    height: 20px;
    float: left;
    background-size: cover;
    cursor: pointer;
}

#about, #workflow, #close-toolbox, #close-pen, #clear, #cite, #show{
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-right: 10px;
}

#about:hover,#workflow:hover, #close-toolbox:hover, #close-pen:hover , #clear:hover,
#cite:hover, #show:hover{
    color: red;
    cursor: pointer;
}

.ui-dialog {
     background-color: rgba(255,255,255,0.7);
}

.selected {
    border: 2px solid blue;
    box-shadow: 10px 10px 5px #B8B6B6;
}

#key-hint{
    float: right;
    position: absolute;
    top: 100px;
    right: 30;
    color: grey;
    font-style: italic;
}

#key-hint:hover{
    color: black;
    cursor:hand;
}

#infobox {
    position: absolute;
    text-align: center;
    width: 180px;
   // background: rgba(198, 204, 198, 0.5);
    height: 250px;
    margin-top: 10px;
   // box-shadow: 3px 3px 3px #B8B6B6;
}

#infobox h1{
    text-decoration: underline;
    font-size: 1em;

}

#infobox p{
    font-size: 0.8em;

}
