<div ng-controller="canvasController">
    <div ng-repeat="package in packages">
        <div plumb-item class="package ui-draggable ui-draggable-handle" ng-dblClick="doubleClick(package)" style="position:absolute;left:{{package.position[0]}}px;top:{{package.position[1]}}px;" data-id="{{package.id}}">
            <div class="top_left"></div>
            <h1 class="heading" ng-style="{ display: package.editMode === true ? 'none' : '' }">{{package.name}}</h1>
            <input class="edittext" ng-style="{ display: package.editMode === false ? 'none' : '' }" type="text" ng-model="package.name" ng-keyup="editNameKeyPressed(package, $event)">
            <div class="content"></div>
        </div>
    </div>
</div>
